<h1>PracticaControlador#index</h1>
<p>Find me in app/views/practica_controlador/index.html.erb</p>

<h2>Response</h2>
<p><%= @headers %></p>
<p><%= @status %></p>


<h2>Request</h2>
<p><%= @ip %></p>
<p><%= @host %></p>


<h2>Cookies</h2>
<p>
	<%= @ultima_categoria %>
</p>


<h2>Flash</h2>

<p>
	<%= flash.to_hash %>
</p>


<%= @parametros %>
<%= @parametro_apellido %>

<p>
	<%= @session %>	
</p>
