<div class="blog-post">
	<h2 class="blog-post-title"><%= @entrada.titulo %></h2>
	<p class="blog-post-meta">
		<%= @entrada.fecha %>
		por
		<a href="#">
			<%= @entrada.seguridad_usuario.username %>
		</a>
		Comentarios: <%= @comentarios.length %>
	</p>
	<%= @entrada.texto %>

	<br/>



<div class="panel panel-default">
	<div class="panel-heading">
		<strong>Comentar</strong>
	</div>
	<div class="panel-body">

<% if seguridad_usuario_signed_in? %>
		<%= form_tag('/ver_entrada/agregar_comentario', method: :post) do %>
			<%= hidden_field_tag 'entrada_id', @entrada.id %>
			<%= text_area_tag 'texto', nil, style: 'width:100%' %>
			<br/>
			<%= submit_tag "Guardar" %>
		<% end %>

<% else %>
	Debe iniciar sesión para comentar
<% end %>		


	</div>
</div>





	<% @comentarios.each do |c| %>

<div class="panel panel-default">
	<div class="panel-heading">
	<strong>
		<%= c.seguridad_usuario.username %>
	</strong>		
	<%= c.fecha %>
	<%= c.hora.strftime("%H:%M") %>
	</div>
	<div class="panel-body">
		<%= c.texto %>
	</div>

<% if c.revisado == false%>
	<div class="panel-footer">

	<%= form_tag('/ver_entrada/revisar_comentario', method: :post) do %>
	<%= hidden_field_tag 'comentario_id', c.id %>
	<%= submit_tag 'Revisar' %>
	
	<% end %>		
	</div>
<% end %>


</div>


	<% end %>

</div>