<% @entradas.each do |e| %>

<div class="blog-post">
  <h2 class="blog-post-title"><%= e.titulo %></h2>
  <p class="blog-post-meta">
    <%= e.fecha %> por 
    <a href="#"><%= e.seguridad_usuario.username %></a>
    Comentarios: <%= e.comentarios.count %>
  </p>
  <%= e.texto %>


  <br>
  <p>
    <% e.comentarios.each do |c| %>
      <%= c.seguridad_usuario.username %>
      <p><%= c.texto %></p>
    <% end %>
  </p>




</div>

<% end %>
