<% @entradas.each do |e| %>

<div class="blog-post">
  <h2 class="blog-post-title"><%= e[:titulo] %></h2>
  <p class="blog-post-meta">
    <%= e[:fecha] %> por 
    <a href="#"><%= e[:username] %></a>
    Comentarios: <%= e[:cantidad_comentario] %>
  </p>
  <%= e[:texto][0..250] %>

  <br/>
  <%= link_to 'Leer más....', '/ver_entrada/' + e[:id].to_s %>

</div>

<% end %>
