<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<p>Ayuda layouts</p>
<!--
<%= link_to 'Inicio', controller: 'home', action: 'index' %>
<%= link_to 'Ayuda', controller: 'ayuda', action: 'index' %>
-->

<!--
<%= link_to 'Inicio', home_index_url %>
<%= link_to 'Ayuda', ayuda_index_path %>
-->

<%= link_to_unless_current 'INICIO', home_index_url %>
<%= link_to_unless_current 'AYUDA', ayuda_index_path %>


<%= yield %>

</body>
</html>
